.bottom{
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    outline: 3px solid white;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 2px;
    padding: auto;
    width: 100%;
}
#bottom-head{
    grid-column: 1/-1;
    margin: auto;
    padding: auto;
}
.bottom-li {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 25px;
    list-style-type: none;
}  
.bottom-icon {
    margin-right: 10px; /* Adjust as needed */
    size: 32;
}