.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .navbar-icon {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .logout-btn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  